.container-fluid {
  background-color: #f9f9f9;
}
h1 {
  font-family: Helvetica-bold;
  font-size: 30px;
}
h4 {
  font-family: Helvetica-medium;
  font-size: 20px;
}
.logo {
  padding-top: 5px;
}
.btn-default-3 {
  padding:10px;
  border-radius: 0;
  color: #fff;
  background-color: #42899d;
  border: 1px solid #42899d;
}
.btn-default-3:hover {
  background-color: #24414b;
  border: 1px solid #24414b;
  color: #fff;
}
.navbar-fixed-top {
  background-color: #fff;
  padding: 20px 0;
}
.hero-text {
  margin-top: 150px;
  color: #fff;
  margin-bottom: 30px;
}
.hero {
  background-image: url("./img/hero.jpg");
  background-size: 100%;
  background-size: cover;
  padding-bottom: 30px;
  linear-gradient(
    rgba(255, 0, 0, 0.45), 
    rgba(255, 0, 0, 0.45)
  ),
}

.form-control {
/*  padding: 25px 15px;*/
  height: 55px;
  opacity: 0.8;
  border-radius: 0;
  font-size: 17px;
}
.btn-default-1 {
  width: 100%;
  padding: 15px 0;
  border-radius: 0;
  color: #24414b;
  background-color: #fff;
  border: 1px solid #fff;
}
.btn-default-1:hover {
  background-color: #24414b;
  border: 1px solid #24414b;
  color: #fff;
}
.rates {
  margin-top: 30px;
  color: #fff;
}
.price {
  margin-bottom: 20px;
}
.why-fakeBan-section {
  margin-top: 50px;
}
.sub-text {
  padding-bottom: 50px;
}

.why-fakeBan-sub-text {
  color: #000;
}
.why-fakeBan-second-row {
  padding-bottom: 100px;
}
.testimonals {
  background-color: #24414b;
  color: #fff;
  padding: 50px 0;
}
.sub-text-testimonals {
  color: #c0cacc;
}
.why-fakeBan-section {
  color: #42899d;
}
.pre-approved {
  color: #42899d;
  padding:50px; 0
}
.f-color {
  background-color: transparent;
  border: 2px solid #c0cacc;
}
.f-color:hover, .f-color:active, .f-color:focus {
  border: 2px solid #000;
}
.btn-default-2 {
  width: 100%;
  padding: 15px 0;
  border-radius: 0;
  color: #fff;
  background-color: #42899d;
  border: 1px solid #42899d;
}
.btn-default-2:hover {
  background-color: #24414b;
  border: 1px solid #24414b;
  color: #fff;
}
.footer {
  padding: 20px 0;
  background-color: #fff;
}
.glyphicon, .glyphicon-hear {
  color: red;
}
a {
  color: #00adee;
}
a:hover {
  color: red;
}
